@inherits LayoutComponentBase


@*<div class="page">
    <div class="sidebar">
    <NavMenu />
    </div>
    <div class="main">
    <div class="content px">
    @Body
    </div>
    </div>
    </div>

*@
<div Class="main">
    <NewNavComponent></NewNavComponent>
    <main>
        <article class="content">
            @Body
        </article>
    </main>
</div>