
<CascadingAuthenticationState>

    <Router AppAssembly="@typeof(Program).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <Authorizing>
                    <LoadingComponent></LoadingComponent>
                </Authorizing>
                <NotAuthorized>
                    <h1>Stop en halv..</h1>
                    <p>For å kunne se handlelistene må du logge inn.</p><br />
                    <a href="authentication/login">Log inn her</a>
                </NotAuthorized>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <img src="/img/homer_404.png" height="300" />
                    </div>
                    <div class="col">
                        <h1>404!</h1>
                        <p> Doh! her var det ingen ting gitt!</p>
                        <a href="/">Go home(er)..</a>
                    </div>
                </div>
            </div>
        </NotFound>
    </Router>
</CascadingAuthenticationState>

@code
{


}