@page "/"
@inject HttpClient http

<div class="container">
    <div class="row">
        <h3>Hei sveis.. </h3>

    </div>
    <div class="row">
        <p>
            Her finner du foreløpig handlelistene til gjengen på Tranby.
            <br />
            Med tiden kommer det sikkert mer ting på siden =)
            <br />
            For å se listene må du logge inn =)
        </p>
    </div>
    <div class="row">
        <div class="col">
            <img src="/img/Greger.jpg" height="500" />
        </div>
        <div class="col">
            <img src="/img/una.jpg" height="500" />
        </div>
    </div>
</div>

@code
{
}