

<div>
    <Check TValue="bool" Checked="@OneShoppingList.IsDone"></Check>
    <NavLink class="nav-link" href="shoppinglist/1">
        @OneShoppingList.Name
    </NavLink>
</div>

@code
{
    [Parameter]
    public ShoppingListModel OneShoppingList { get; set; }

}