


<div class="loading-overlay">
    <div class="loader-container">
        <p>@DisplayText </p>
        <div class="dot-loader"></div>
        <div class="dot-loader"></div>
        <div class="dot-loader"></div>
    </div>
</div>

@code {
    [Parameter]
    public string DisplayText { get; set; }
}
